        <div class="modal fade" id="addMoneyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add money</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <div class="row">
                  <div class="col-8 offset-2">
                    <form action="">
                      <label for="" class="form-label">Enter the amount below</label>
                      <div class="mb-3 input-group">
                        <span class="input-group-text">$</span>
                        <input id="inputAmountSubt" class="form-control" required>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button onclick="updateMoneyAmountAdd('<%-id_user_from_amout%>', document.getElementById('inputAmountSubt').value)" type="submit" class="btn btn-success">Add</button>
              </div>
            </div>
          </div>
        </div>