<div class="container">
  <div class="card mt-4" style="width: 18rem;">
    <img src="https://www.mundogato.net/wp-content/uploads/nombres-para-gatos-amarillos.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">I'm <%- name %></h5>
      <p class="card-text">This is my card</p>
      <a href="#" class="btn btn-primary">Read more...</a>
    </div>
  </div>
</div>